<div class="task-list-container">
  <mat-card class="task-card">
    <mat-card-header>
      <mat-card-title>Task List</mat-card-title>
    </mat-card-header>
    
    <mat-card-content>
      <mat-list>
        <mat-list-item *ngFor="let task of tasks; let i = index">
          
          <!-- Checkbox at start (Avatar position) -->
          <mat-checkbox 
            [checked]="task.completed"
            (change)="toggleComplete(task)"
            matListItemAvatar>
          </mat-checkbox>

          <!-- Task Content -->
          <div matListItemTitle>
            <ng-container *ngIf="editTaskId === task._id; else viewMode">
              <input 
                [(ngModel)]="editedTaskName" 
                class="edit-input"
                matInput />
            </ng-container>
            <ng-template #viewMode>
              <span class="task-number">{{ i + 1 }}.</span>
              <span [class.completed]="task.completed">{{ task.name }}</span>
            </ng-template>
          </div>

          <!-- Actions (Back) -->
          <div matListItemMeta>
            <ng-container *ngIf="editTaskId === task._id; else viewActions">
              <button mat-icon-button color="primary" (click)="updateTask(task._id)" title="Save">
                <mat-icon>check</mat-icon>
              </button>
              <button mat-icon-button (click)="cancelEdit()" title="Cancel">
                <mat-icon>close</mat-icon>
              </button>
            </ng-container>

            <ng-template #viewActions>
              <button mat-icon-button (click)="startEdit(task)" title="Edit">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button color="warn" (click)="deleteTask(task._id)" title="Delete">
                <mat-icon>delete</mat-icon>
              </button>
            </ng-template>
          </div>

        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
</div>