.task-list {
  padding: 16px;
}

mat-card {
  width: 100%;
  max-width: 700px;
  margin: auto;
}

.task-row {
  display: flex;
  justify-content: space-between;
  align-items: center;   /* ensures vertical alignment */
  width: 100%;
}

mat-card-title {
  padding: 16px;
}

mat-icon {
  vertical-align: middle; /* important */
}
