<div class="task-list">
  <mat-card class="task-card">

    <mat-card-title class="title">
      Task List
    </mat-card-title>

    <mat-card-content>

      <div class="task-row" *ngFor="let task of tasks; index as i">



        <!-- Middle section -->
        <div class="middle">

          <!-- Edit mode -->
          <ng-container *ngIf="editTaskId === task._id; else viewMode">

            <mat-form-field appearance="outline" class="edit-field">
              <input matInput [(ngModel)]="editedTaskName">
            </mat-form-field>

          </ng-container>

          <!-- View mode -->
          <ng-template #viewMode>

            <div class="task-text">

              <span [class.completed]="task.completed">
                {{task.name}}
              </span>

            </div>

          </ng-template>

        </div>

        <!-- Left section -->
        <div class="left">
          <mat-checkbox
            [checked]="task.completed"
            (change)="toggleComplete(task)">
          </mat-checkbox>
          <ng-container *ngIf="editTaskId === task._id">

            <button mat-icon-button color="primary"
              (click)="updateTask(task._id)">
              <mat-icon>check</mat-icon>
            </button>

            <button mat-icon-button
              (click)="cancelEdit()">
              <mat-icon>close</mat-icon>
            </button>

          </ng-container>

          <ng-container *ngIf="editTaskId !== task._id">

            <button mat-icon-button
              (click)="startEdit(task)">
              <mat-icon>edit</mat-icon>
            </button>

            <button mat-icon-button color="warn"
              (click)="deleteTask(task._id)">
              <mat-icon>delete</mat-icon>
            </button>

          </ng-container>
        </div>

      </div>

    </mat-card-content>

  </mat-card>
</div>